* {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f6ffef;
}

ul { list-style-type: none; }

li {
    display: inline;
    margin: 10px;
}

.nav-bar {
    display: flex;
    justify-content: right;
    font-size: 1.2em;
    margin-bottom: 2em;
}

a { text-decoration: none; }

h1, h2, h3, h4, h5 {
    text-align: center;
}

p {
    /* text-align: center; */
    font-size: 1.2em;
}
