* { font-family: Arial, Helvetica, sans-serif; }

.nav-bar {
  /* border: 1px solid black; */
  
  list-style-type: none;
  font-size: 1.3em;
  font-weight: bold;
  line-height: 1.6; 
  text-align: right;
  padding-right: 20px;
}

a { text-decoration: none; }
a:link { color: rgb(10, 124, 0); background-color: transparent; text-decoration: none; }
a:visited { color: rgb(0, 0, 0); background-color: transparent; text-decoration: none; }
a:hover { color: rgb(126, 0, 0); background-color: transparent; text-decoration: none; }
a:active { color: rgb(126, 0, 0); background-color: transparent; text-decoration: none;}

.center { display: block; margin-left: auto; margin-right: auto; }

figcaption { text-align: center; font: italic; }

h1, h2, h3, h4, h5 { text-align: center; }

p { font-size: 1.2em; }

.container {
/* border: 1px solid black; */

  grid-template-columns: 40px 50px auto 50px 40px;
  grid-template-rows: 25% 100px auto;
}

.div-body { text-align: center; }

.div-assignments { 
/* border: 1px solid black; */

  font-size: 1.2em;
  text-align: center;
  padding-top: 10px;
  line-height: 40px;
}

.div-assignments ul { list-style-type: none; }
.div-assignments ul li { margin: 10px; }

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
  }
  
  input[type=submit] {
    background-color: #0045ac;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #004ad3;
  }
  
.contactform-container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

.return-btn {
  display: block;
  width: 20%;
  border-radius: 20px;
  background-color: hsl(12, 100%, 88%);
  color: white;
  padding: 14px 28px;
  margin-left: 40%;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
}